@import "../../../../shared/scss/values";

.CardDiv {
  @include box-shadow();
  border-radius: $borderRadius;
  width: 90vw;
  max-width: 600px;
  margin: 3vh auto;
  padding: 2vh 2vw;

  .BtnDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 5vh 0 3vh 0;
  }
}
